/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018/07/20, 20:16:18
    Author     : tsakai
*/
#switch{
    cursor:pointer;
    width:200px;
    height:50px;
    background-image:url(images/switch.gif);
}
.active{
    background-position:bottom;
}


